<html lang="en" ng-app="my-app">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>API</title>
    <script src="http://ui-grid.info/release/ui-grid.js"></script>
    <script src="http://ui-grid.info/release/ui-grid.core.min.js"></script>
    <script src="http://ui-grid.info/release/ui-grid.pagination.min.js"></script>
    <link rel="stylesheet" href="http://ui-grid.info/release/ui-grid.css" type="text/css" />
    <script data-require="angular.js@*" data-semver="1.3.5" src="https://code.angularjs.org/1.3.5/angular.js"></script>
    <script data-require="angular-route@*" data-semver="1.3.5" src="https://code.angularjs.org/1.3.5/angular-route.js"></script>
    <script type="text/javascript" src="./script.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>

<body ng-controller="myController">
    <ng-view></ng-view>
    <div style="display: flex; justify-content: center;">
        <a href="#/emailsCampaigns">
            <div style="
            border-style: groove;
            width: 300px;
            height: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
          ">
                <h2>All Emails</h2>
            </div>
        </a>
    </div>
    <div>
        <label>Segment Name</label><br />
        <input type="text" size="20" ng-model="" style="height: 34px; width: 200px;" required />
    </div>
    <div>
        <label>Master List</label><br />
        <!-- <select style="height: 34px; width: 200px;">
        <option >Select list</option>
        <option ng-repeat="data in api">{{data.name}}</option>
      </select> -->
        <select style="height: 34px; width: 200px;" ng-model="selected" ng-options="item as item.displayName for item in api" ng-change="loadData(selected);"><option value="">Select List</option>
      </select>
    </div>
    <!-- <dropdown ng-show="IsVisible"></dropdown> -->
    <div>
        <div id="grid1" ui-grid="gridOptions" style="height: 250px; width: 500px;"></div>
    </div>

</body>

</html>